@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');


/* TEMA DO SITE */
.theme-title-01 {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;
}

@media (min-width: 576px) {
    .theme-title-01 {
        font-size: 30px;
        line-height: 37px;
    }
}

@media (min-width: 768px) {
    .theme-title-01 {
        font-size: 34px;
        line-height: 41px;
    }
}

@media (min-width: 992px) {
    .theme-title-01 {
        font-size: 38px;
        line-height: 45px;
    }
}

@media (min-width: 1200px) {
    .theme-title-01 {
        font-size: 42px;
        line-height: 49px;
    }
}

@media (min-width: 1400px) {
    .theme-title-01 {
        font-size: 48px;
        line-height: 55px;
    }
}

.theme-title-02 {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
}

@media (min-width: 576px) {
    .theme-title-02 {
        font-size: 24px;
        line-height: 30px;
    }
}

@media (min-width: 768px) {
    .theme-title-02 {
        font-size: 28px;
        line-height: 34px;
    }
}

@media (min-width: 992px) {
    .theme-title-02 {
        font-size: 32px;
        line-height: 38px;
    }
}

@media (min-width: 1200px) {
    .theme-title-02 {
        font-size: 36px;
        line-height: 42px;
    }
}

@media (min-width: 1400px) {
    .theme-title-02 {
        font-size: 38px;
        line-height: 46px;
    }
}

.theme-title-03 {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

@media (min-width: 576px) {
    .theme-title-03 {
        font-size: 20px;
        line-height: 24px;
    }
}

@media (min-width: 768px) {
    .theme-title-03 {
        font-size: 22px;
        line-height: 26px;
    }
}

@media (min-width: 992px) {
    .theme-title-03 {
        font-size: 24px;
        line-height: 28px;
    }
}

@media (min-width: 1200px) {
    .theme-title-03 {
        font-size: 26px;
        line-height: 30px;
    }
}

@media (min-width: 1400px) {
    .theme-title-03 {
        font-size: 28px;
        line-height: 32px;
    }
}

.theme-title-04 {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

@media (min-width: 576px) {
    .theme-title-04 {
        font-size: 16px;
        line-height: 20px;
    }
}

@media (min-width: 768px) {
    .theme-title-04 {
        font-size: 17px;
        line-height: 21px;
    }
}

@media (min-width: 992px) {
    .theme-title-04 {
        font-size: 18px;
        line-height: 22px;
    }
}

@media (min-width: 1200px) {
    .theme-title-04 {
        font-size: 19px;
        line-height: 23px;
    }
}

@media (min-width: 1400px) {
    .theme-title-04 {
        font-size: 20px;
        line-height: 24px;
    }
}

.theme-title-05 {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
}

@media (min-width: 576px) {
    .theme-title-05 {
        font-size: 15px;
        line-height: 18px;
    }
}

@media (min-width: 768px) {
    .theme-title-05 {
        font-size: 15px;
        line-height: 18px;
    }
}

@media (min-width: 992px) {
    .theme-title-05 {
        font-size: 16px;
        line-height: 19px;
    }
}

@media (min-width: 1200px) {
    .theme-title-05 {
        font-size: 17px;
        line-height: 20px;
    }
}

@media (min-width: 1400px) {
    .theme-title-05 {
        font-size: 18px;
        line-height: 21px;
    }
}

.theme-text-01 {
    font-family: 'Ubuntu';
    font-size: 16px;
    line-height: 22px;
}

@media (min-width: 768px) {
    .theme-text-01 {
        font-size: 17px;
        line-height: 23px;
    }
}

@media (min-width: 1200px) {
    .theme-text-01 {
        font-size: 18px;
        line-height: 24px;
    }
}

@media (min-width: 1400px) {
    .theme-text-01 {
        font-size: 20px;
        line-height: 28px;
    }
}

.theme-text-02 {
    font-family: 'Ubuntu';
    font-size: 15px;
    line-height: 23px;
}

@media (min-width: 768px) {
    .theme-text-02 {
        font-size: 16px;
        line-height: 24px;
    }
}

@media (min-width: 1200px) {
    .theme-text-02 {
        font-size: 17px;
        line-height: 25px;
    }
}

@media (min-width: 1400px) {
    .theme-text-02 {
        font-size: 18px;
        line-height: 26px;
    }
}

.theme-text-03 {
    font-family: 'Ubuntu';
    font-size: 14px;
    line-height: 20px;
}

@media (min-width: 768px) {
    .theme-text-03 {
        font-size: 15px;
        line-height: 21px;
    }
}

@media (min-width: 1200px) {
    .theme-text-03 {
        font-size: 15px;
        line-height: 21px;
    }
}

@media (min-width: 1400px) {
    .theme-text-03 {
        font-size: 16px;
        line-height: 22px;
    }
}

.theme-section {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 768px) {
    .theme-section {
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (min-width: 1200px) {
    .theme-section {
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 0;
        padding-right: 0;
    }
}




.theme-btn-01 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    width: fit-content;
    height: 50px;
    text-decoration: none;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    background-color: #FFF;
    color: #820AD1;
    padding-left: 30px;
    padding-right: 30px;
}

@media(min-width: 1024px)
{
    .theme-btn-01
    {
        height: 60px;
    }
}

.theme-btn-02 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 50px;
    text-decoration: none;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    background-color: #820AD1;
    color: #FFF;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

@media(min-width: 1024px)
{
    .theme-btn-02
    {
        height: 60px;
    }
}

.theme-bar
{
    position: relative;
    width: 100px;
    height: 10px;
    background-color: #DEA13A;
    border-radius: 5px;
}

@media(min-width: 1200px) {
    .theme-header {
        background-image: url('../img/background-header.jpg');
        background-position: right;
        background-size: cover;
        background-repeat: no-repeat;
    }
}